body{
    background-image:url(../img/FONDOOOOOOOOOOOOO.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body>h1{
    font-size: 70px;
    color: cyan;
    text-shadow: 2px 2px coral;
}
body>nav{
    color: aqua;
    text-shadow: 2px 2px coral;
    font-size:30px ;
}
body>nav>li{
    font-size:25px ;
}